.fast-content {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #000000;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.red-color {
    color: #ff4f5a;
    display: block;

}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;

}

.flexible-container {
    display: flex;
    align-items: center;


}

#ra255 {
    border-top: 0px;
    border-bottom: 0;
    line-height: 0px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: #1a2e35;


}

#ra256 {
    line-height: 60px;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    color: #1a2e35;

}

.font-text {
    color: #1a2e35;
}

.fastpic {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5%;
    width: 450px;
    display: flex;
    padding-left: 150px;
}